<?xml version="1.0" encoding="UTF-8"?>

<launch>


  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>


 <!--<node name="republish" type="republish" pkg="image_transport"  args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->

  <arg name="robot" default="steel"/>
  <arg name="map"   default="$(env HOME)/.pal/tiago_maps/configurations/world_with_cube"/>
  <arg name="rviz"     default="true"/>
  <arg name="gzclient"     default="true"/>
  <arg name="localization"   default="amcl"/>
  <arg name="use_moveit_camera" default="true"/>
  <arg name="gzpose"         default="-x 2.0 -y 2.0 -z 0 -R 0.0 -P 0.0 -Y 0"/>
  <arg name="public_sim" default="true"/>



  <!--world and tiago, gazebo-->
  <include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch"> 
      <arg name="robot"          value="$(arg robot)"/>
      <arg name="global_planner" value="navfn"/>
      <arg name="local_planner"  value="eband"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="public_sim"     value="True"/>
      <arg name="gzpose"         value="$(arg gzpose)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="rviz"           value="$(arg rviz)"/>

   
  </include>

<node pkg="from2dto3d" type="from2dto3d" name="from2dto3d" output="screen"/>

</launch>
